.container {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1.2rem;
  background-color: #18181b;
}

.header {
  padding: 1.2rem;
  text-align: center;
  color: #3b82f6;
}

.main {
  padding: 1.2rem 2rem;
}

.main input {
  width: 100%;
  padding: 0.8rem 1.2rem;
  border: none;
  border-bottom: 2px solid #e9484b;
  outline: none;
  font-size: 1.2rem;
  color: #e9484b;
  margin: 1.2rem 0;
  border-radius: 10px;
}

.main li {
  list-style-type: none;
  padding: 1.4rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.main li a {
  text-decoration: none;
  color: #eab308;
}

.main li a:hover {
  color: #3b82f6;
  text-decoration: underline;
}

.nav {
  color: #e9484b;
  text-decoration: none;
  display: inline-block;
}

.nav:hover {
  color: #3b82f6;
  text-decoration: underline;
}

.blog {
  padding: 0.8rem 1.2rem;
}
.blogTitle {
  color: #eab308;
  margin-bottom: 0.3rem;
}
.blogContent {
  padding: 0.5rem;
  margin: 1.2rem 2rem;
  border: 1px solid white;
  border-radius: 10px;
}

.blogContent h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: #e9484b;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.5rem;
}

.blogContent p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  color: gray;
  line-height: 1.5rem;
  text-align: justify;
}
.blogContent p strong {
  font-weight: 600;
  color: rgb(171, 165, 165);
}

@media screen and (max-width: 800px) {
  .container {
    padding: 0.5rem;
  }
  .header {
    font-size: 0.9rem;
  }
  .main {
    padding: 0.6rem;
    font-size: 0.8rem;
  }
  .main li {
    padding: 0.9rem 0.5rem;
  }

  .blog {
    padding: 0.3rem;
  }
  .blogContent {
    margin: 0.8rem 0;
    padding: 0.5rem;
  }
}
